@import "../../styles/variables.module.scss";

.navigation {
  &__list {
    list-style-type: none;
    li {
      margin-left: 25px;
      font-family: "Roboto";
      a {
        text-decoration: none;
      }

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}
